:root {
    --intense-blur: rgba(0, 0, 0, 0.8);
    --lighter-blur: rgba(0, 0, 0, 0.5);
}

html {
    background-image: url(https://raw.githubusercontent.com/notAperson535/Win11-HTML/main/img/backgrounddark.jpg);
}

.pinnedtab,
#urlbar>input {
    background: rgba(58, 59, 79, 0.5);
}

.pinnedtab:hover,
#urlbar>input:hover,
#urlbar>input:focus,
.pinnedtab.active {
    background: rgba(58, 59, 79, 0.7);
}

.tab:hover,
#newtabbutton:hover {
    -webkit-box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
    box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
    background: rgba(43, 46, 68, 1);
}

.tab {
    color: white;
}

.tab.active {
    -webkit-box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
    box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
    background: rgba(80, 80, 98, 1);
}

.tabclose {
    filter: invert(1);
}

input {
    color: white;
}

#newtaburlbardiv>img {
    filter: invert(1);
}

#thingbelowtheiframe {
    -webkit-box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
    box-shadow: 2px 2px 5px -4px rgba(136, 136, 136, 0.71);
}

ul li button {
    color: white !important;
}

#themeselector>img {
    filter: invert(1);
}