:root {
    --intense-blur: rgba(255, 255, 255, 0.8);
    --lighter-blur: rgba(255, 255, 255, 0.5);
}

html {
    height: 100%;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/notAperson535/Win11-HTML/main/img/backgroundlight.jpg);
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: var(--intense-blur);
    backdrop-filter: saturate(3) blur(20px);
}

@font-face {
    font-family: "Segoe UI Variable";
    font-style: normal;
    font-weight: 400;
    src: local("Segoe UI Variable"),
        url("https://fonts.cdnfonts.com/s/63254/SegoeUIVF.woff") format("woff");
}

* {
    font-family: Segoe UI Variable, Segoe UI;
}

#sidebar {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

#urlbar {
    width: 230px;
    margin: 10px;
}

#urlbar>input {
    margin: 0;
    outline: 0;
    border: 0;
    width: -webkit-fill-available !important;
    height: 40px !important;
    padding: 0px 10px;
    box-sizing: border-box;
}

#pinnedtabs {
    height: fit-content;
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin: 10px;
    gap: 10px;
}

.pinnedtab,
#urlbar>input {
    height: 50px;
    width: 70px;
    border-radius: 10px;
    background: rgba(210, 208, 230, 0.3);
}

.pinnedtab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinnedtab:hover,
#urlbar>input:hover,
#urlbar>input:focus,
.pinnedtab.active {
    background: rgba(210, 208, 230, 0.6);
}

.pinnedtab .tabfavicon {
    width: 20px;
    margin: 0px;
}

#sidebarspacer {
    width: 220px;
    margin: 20px 15px;
    margin-bottom: 10px;
    height: 2px;
    background: rgba(210, 208, 230, 0.6);
}

#newtabbutton {
    color: #7d7c84;
}

.tab:hover,
#newtabbutton:hover,
.tab.active {
    background: var(--lighter-blur);
    -webkit-box-shadow: 2px 2px 5px -4px rgba(119, 119, 119, 0.71);
    box-shadow: 2px 2px 5px -4px rgba(119, 119, 119, 0.71);
}

.tab,
#newtabbutton {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin: 5px 0px;
    margin-left: 10px;
    height: 45px;
    border-radius: 10px;
}

.tabfavicon,
#newtabbutton img {
    width: 17.5px;
    margin-right: 5px;
    border-radius: 17.5px;
    margin-left: 10px;
}

.tab p,
#newtabbutton p {
    margin: 0px;
    justify-self: baseline;
}

#commandpalette {
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#newtaburlbarbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--lighter-blur);
}

#newtaburlbar {
    z-index: 9999;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background: var(--intense-blur);
    backdrop-filter: blur(12px) saturate(1);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

#newtaburlbardiv {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px rgba(210, 208, 230, 0.6);
}

#newtaburlbardiv>img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 10px;
}

#newtaburlbardiv>input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.25rem;
    width: calc(90% - 10px);
    margin-right: 10px;
}

#newtaburlbardiv>input::placeholder {
    color: #c3c4c6;
}

.tabclose {
    margin-left: auto;
    width: 10px;
    margin-right: 10px;
}

iframe,
#thingbelowtheiframe {
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 260px);
    top: 10px;
    left: 250px;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    display: none;
}

#thingbelowtheiframe {
    display: initial;
    -webkit-box-shadow: 2px 2px 5px -4px rgba(119, 119, 119, 0.71);
    box-shadow: 2px 2px 5px -4px rgba(119, 119, 119, 0.71);
    background: var(--lighter-blur);
}